
.manage-container {
    padding: 20px;
}

.manage-img {
    width: 270px;
    height: 250px;
}

.manage-loc, .manage-rating, .manage-price, .manage-int {
    font-family: 'Montserrat';
    color: #FF5A5F;
    font-size: 15px;
}

.manage-loc-and-rating {
    display: flex;
    justify-content: space-between;
}


.bottom-section {
    display: inline-flex;
    justify-content: space-between;
    width: 270px;
}

.manage-container .modal-btn, .update-btn {
    height: 25px;
    margin-top: 10px;
    background-color: #FF5A5F;
    cursor: pointer;
    border-radius: 5px;
    border: #FF5A5F 2px solid;
    color: whitesmoke;
    font-family: 'Montserrat';
}

.manage-update-text {
    color: whitesmoke;
    font-family: 'Montserrat';
    font-size: 13px;
}

.manage-container .modal-btn {
    margin-left: 15px;
    font-size: 14px;
}

.manage-int {
    margin-left: 5px;
}
