.delete-spot-modal {
    background-color: #1E1E1E;
    padding: 40px;
    border: 3px black solid;
}

.delete-spot-modal h1 {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
}

.delete-spot-modal p {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
}

.delete-spot-modal button {
    color: white;
    cursor: pointer;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat';
}

.delete-modal-yes {
    margin-right: 20px;
    background-color: #FF5A5F;
}

.delete-modal-keep {
    background-color: gray;
}

.delete-btn-options {
    display: inline-flex;
    justify-content: space-between;
}
