

.spot-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.spot-img {
    flex: 1 0 auto;
    height: 200px;
    max-width: 500px;
    width: auto;
}

.spot-loc-and-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.loc, .rating, .price {
    font-family: sans-serif;
    font-size: 15px;
}

.price {
    font-weight: bolder;
}

.loc, .price, .int {
    color: #FF5A5F;
    font-family: 'Montserrat';
}

.int {
    margin-left: 5px;
}

.fa-star {
    color: gold;
}
