.newspot-full-div h2, .newspot-full-div h4 {
    font-family: 'Montserrat';
}

.create-spot-header {
    font-size: 40px;
    font-family: 'Montserrat';
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.newspot-full-div h4 {
    font-size: 14;
}

.newspot-full-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one {
    margin-top: 40px;
}

.newspot-form-div input[placeholder="Country"],
.newspot-form-div input[placeholder="Address"] {
    width: 595px;
    background-color: #eeeeee;
    padding: 9px;
    font-family: 'Montserrat';
}

.newspot-form-div input[placeholder="City"] {
    width: 360px;
    background-color: #eeeeee;
    padding: 9px;
    font-family: 'Montserrat';
}

.newspot-form-div input[placeholder="State"] {
    padding: 8px;
    font-family: 'Montserrat';
    width: 190px;
    background-color: #eeeeee;
}


.newspot-form-div input[placeholder="Longitude"],
.newspot-form-div input[placeholder="Latitude"] {
    width: 275px;
    background-color: #eeeeee;
    padding: 8px;
    font-family: 'Montserrat';
}

.newspot-form-div input[placeholder='Price per night (USD)'] {
    width: 573px;
    padding: 10px;
    font-family: 'Montserrat';
}

.newspot-form-div input[placeholder='Name of your spot'] {
    width: 592px;
    padding: 10px;
    font-family: 'Montserrat';
}

.newspot-form-div input[placeholder='Image URL'],
.newspot-form-div input[placeholder='Preview Image URL'] {
    width: 592px;
    padding: 10px;
    font-family: 'Montserrat';
}

.describe-div textarea{
    font-family: 'Montserrat';
    font-size: 18px;
}


.city-state-div {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.lat-long-div {
    display: flex;
    justify-content: space-between;
    width: 600px;

    margin-bottom: 30px;
}

.comma-one {
    font-size: 30px;
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 10px;

}

.comma-two {
    font-size: 30px;
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 10px;
}

.describe-div, .title-div, .price-div, .url-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:610px;
    border-top: 3px #333 solid;
    margin-bottom: 30px;
}

.url-div input {
    margin-bottom: 15px;
}

.newspot-ul {
    list-style: none;
}

.description-ta {
    width: 610px;
    height:200px;
}

.price-input {
    display: inline-flex;
    align-items: center;
}

.dollar-sign {
    font-family: 'Montserrat';
    margin-right: 10px;
    margin-top: 8px;
}

.url-div {
    margin-bottom: 20px;
}

.submit-div {
    border-top: #333 4px solid;
    width: 610px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.error-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 3px red solid;
}

.error-div p {
    font-family: 'Montserrat';
    font-size: 25px;
}

.error-item {
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(255, 0, 0, 0.547);
}

.form-label {
    color: whitesmoke;
    font-family: 'Montserrat';
    display: block;
}

.submit-btn {
    background-color: #FF5A5F;
    border: 1px #FF5A5F solid;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px black;
    font-family: 'Montserrat';
    cursor: pointer;
}

.error-span {
    color: red;
    margin-left: 20px;
    font-family: 'Montserrat';
}

.error-desc {
    color: red;
    font-family: 'Montserrat';
    margin-bottom: 10px;
}
