h2, h4 {
    display: flex;
    font-family: 'Montserrat';
    justify-content: flex-start;
}

h1 {
    font-size: 30px;
    font-family: 'Montserrat';
    margin-bottom: 50px;
}

h4 {
    font-size: 14;
}

.section-one {
    margin-left: 450px;
}

.form-div {
    border: white solid 3px;
}

input[placeholder="Country"], input[placeholder="Address"] {
    padding-right: 20%;
    width: 500px;
}

.city-state-div {
    display: flex;
    justify-content: space-between;
    width: 610px;
    margin-right: 8px;
}

input[placeholder="City"] {
    width: 360px;
}

.lat-long-div {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-right: 20px;
    margin-bottom: 30px;
}

input[placeholder="Latitude"] {
    width: 270px;
}

input[placeholder="Longitude"] {
    width: 270px;
}

.comma-one {
    font-size: 30px;
    margin-top: 40px;
    margin-right: 50px;
}

.comma-two {
    font-size: 30px;
    margin-top: 40px;
    margin-right: 35px;
}

.describe-div, .title-div, .price-div, .url-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:610px;
    border-top: 3px #333 solid;
    margin-bottom: 30px;
}

.description-ta {
    width: 610px;
    height:200px;
}

.price-input {
    display: inline-flex;
    align-items: center;
}

.dollar-sign {
    font-family: 'Montserrat';
    margin-right: 10px;
    margin-top: 8px;
}

input[placeholder='Price per night (USD)'] {
    width: 595px;
}

.url-div {
    margin-bottom: 20px;
}

.submit-div {
    border-top: #333 4px solid;
    width: 610px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}
