form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  }

.login-text {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 40px;
}

.email-text, .pw-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Montserrat';
}

.login-form button[disabled] {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.login-form button:not([disabled]) {
  background-color: #FF5A5F;
  color: white;
  cursor: pointer;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  font-family: 'Montserrat';
}

.login-form {
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 30px;
  border:#333 solid 2px;
  background-color: #1E1E1E;;
}

.login-errors ul {
  list-style: none;
  color: #FF5A5F;
  font-size: 14px;
  margin-top: 10px;
}

.login-errors li {
  font-family: sans-serif;
  color: #FF5A5F;
  margin-bottom: 10px;
}
